body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

.filtroCategorias{
    filter: grayscale(60%);
}

.filtroCategorias:hover{
    filter: grayscale(0);
    transition: 400ms;
}

@media all and (max-width:767px){
    .banner-Principal{
        height: 250px;
        object-fit: cover;
        /* object-position: 58%; */
    }
}


.card-footer {
    background:transparent;
    border-top: 0px;

}

.bg-purple {
    background: #6f42c1 ;
}
.bg-green {
    background: #20c997 ;
}

.bg-orange {
    background: #fd7e14
    ;
}
.bg-skyblue {
    background: #0dcaf0
    ;
}